* {
    margin: 0 ;
    padding: 0 ;
}

body {
    background-color: grey !important;
}

.main-page {
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    height: 100vh;
}

.card {
    width: 400px;
}

.task-status-block {
    
}

.task-status-text {
    font-size: 18px;
}

.description-block {
    margin-left: 10px;
}

.task-bottom-block {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


.task-card {
    border: 2px red solid;
}

.task-whitespace {
    height: 30px;
}






/*  boostrap changes*/
.row {
    padding: 0  !important;
    margin: 0  !important;
}

.cardtitle {
    font-size: 322px !important;
    border: 1px black solid !important;
}

h3 {
    display: inline ;
}

.card {
    border: 1px black solid !important;
}
.card-body {
    border: 1px black solid !important;
}